@model IList<NewLife.YuqueWeb.Entity.Book>
@using NewLife.YuqueWeb.Entity
@{
    Layout = "~/Views/Shared/_Layout_yq.cshtml";

    var list = Model;

    var nav = Nav.Root.FindByPath("巨幕");
    nav = nav?.Childs.FirstOrDefault(e => e.Enable);
}
<div class="container" style="min-height: 600px;">
    @if (nav != null)
    {
        <div class="jumbotron">
            <p>
                <h1>@nav.Name</h1>
            </p>
        </div>
    }
    <div class="benefits container">
        <div class="row">
            @{
                <ul class="lead">
                    @foreach (var item in list)
                    {
                        <li>
                            <a href="/@item.Code" title="@item.Remark">
                                <i></i>@item.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>