@model NewLife.YuQueWeb.Entity.Document
@{
    Layout = "~/Views/Shared/_Layout_yq.cshtml";

    var inf = Model;
}
<div class="container">
    <div class="row">
        <h2 class="text-center">
            @inf.Title
        </h2>
        <div class="content">
            <div>
                @Html.Raw(inf.BodyHtml)
            </div>
        </div>
        <span class="text-center">
            <em class="e e1">作者：@inf.UserName</em>
            <em class="e e2">发布：@inf.PublishTime.ToFullString()</em>
            <em class="e e3">浏览：@inf.Hits.ToString("n0")</em>
        </span>
    </div>
</div>