@model NewLife.YuqueWeb.Models.BookIndexModel
@using NewLife.Data
@using NewLife.YuqueWeb.Entity
@using NewLife.YuqueWeb.Models
@using PageModel=NewLife.YuqueWeb.Models.PageModel;
@{
    Layout = "~/Views/Shared/_Layout_yq.cshtml";

    var cat = Model.Book;
    var infos = Model.Documents;
    var page = new PageModel { Page = Model.Page, Url = $"/{cat.Code}-pageIndex" };
}
<div class="container" style="min-height: 600px;">
    <div class="row">
        <h2>
            @cat.Name
        </h2>
    </div>
    <div class="row">
        @{
            <ul class="lead">
                @foreach (var item in infos)
                {
                    <li>
                        <a href="/@cat.Code/@item.Code" title="@item.Remark">
                            <i></i>@item.Title
                        </a>
                    </li>
                }
            </ul>
            @await Html.PartialAsync("_Pager", page)
        }
    </div>
</div>