openapi: 3.1.0
info:
  title: 语雀 OpenAPI
  description: ''
  version: 2.0.1
servers:
  - url: https://www.yuque.com
    description: 线上访问地址
components:
  securitySchemes:
    authToken:
      type: apiKey
      description: '使用指南: https://www.yuque.com/yuque/developer/api'
      name: X-Auth-Token
      in: header
  responses:
    '400':
      description: 请求参数非法
    '401':
      description: Token/Scope 未通过鉴权
    '403':
      description: 无操作权限
    '404':
      description: 实体未找到
    '422':
      description: 请求参数校验失败
    '429':
      description: 访问频率超限
    '500':
      description: 内部错误
  requestBodies:
    ApiV2GroupMemberUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              role:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 1
                description: |-
                  角色
                  (0:管理员, 1:成员, 2:只读成员)
    ApiV2DocCreateByIdPost:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: 路径
              title:
                type: string
                default: 无标题
                description: 标题
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                description: |+
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)


                  - 不填则继承知识库的公开性

              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |-
                  内容格式
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)
              body:
                type: string
                description: 正文内容
            required:
              - body
    ApiV2DocUpdateByIdPut:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: 路径
              title:
                type: string
                description: 标题
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |-
                  内容格式
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)
              body:
                type: string
                description: 正文内容
    ApiV2DocCreatePost:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: 路径
              title:
                type: string
                default: 无标题
                description: 标题
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                description: |+
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)


                  - 不填则继承知识库的公开性

              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |-
                  内容格式
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)
              body:
                type: string
                description: 正文内容
            required:
              - body
    ApiV2DocUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: 路径
              title:
                type: string
                description: 标题
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |-
                  内容格式
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)
              body:
                type: string
                description: 正文内容
    ApiV2RepoTocUpdateByIdPut:
      content:
        application/json:
          schema:
            type: object
            properties:
              action:
                type: string
                enum:
                  - appendNode
                  - prependNode
                  - editNode
                  - removeNode
                description: >+
                  操作

                  (appendNode:尾插, prependNode:头插, editNode:编辑节点,
                  removeNode:删除节点)



                  - action_mode 必填

                  - 创建场景下不支持同级头插 prependNode

                  - 删除节点不会删除关联文档

                  - 删除节点时: action_mode=sibling (删除当前节点), action_mode=child
                  (删除当前节点及子节点)

              action_mode:
                type: string
                enum:
                  - sibling
                  - child
                description: |-
                  操作模式
                  (sibling:同级, child:子级)
              target_uuid:
                type: string
                description: |-
                  目标节点 UUID, 不填默认为根节点


                  - 获取方式: 调用"获取知识库目录"接口获取
              node_uuid:
                type: string
                description: |-
                  操作节点 UUID [移动/更新/删除必填]


                  - 获取方式: 调用"获取知识库目录"接口获取
              doc_id:
                type: integer
                description: 文档 ID [创建文档必填]
                deprecated: true
              doc_ids:
                type: array
                items:
                  type: integer
                description: 文档 ID 数组 [创建文档必填]
              type:
                type: string
                enum:
                  - DOC
                  - LINK
                  - TITLE
                default: DOC
                description: |-
                  节点类型 [创建必填]
                  (DOC:文档, LINK:外链, TITLE:分组)
              title:
                type: string
                description: 节点名称 [创建分组/外链必填]
              url:
                type: string
                description: 节点 URL [创建外链必填]
              open_window:
                type: string
                enum:
                  - 0
                  - 1
                default: 0
                description: |-
                  是否新窗口打开 [外链选填]
                  (0:当前页打开, 1:新窗口打开)
              visible:
                type: string
                enum:
                  - 0
                  - 1
                default: 1
                description: |-
                  是否可见
                  (0:不可见, 1:可见)
            required:
              - action
    ApiV2RepoTocUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              action:
                type: string
                enum:
                  - appendNode
                  - prependNode
                  - editNode
                  - removeNode
                description: >+
                  操作

                  (appendNode:尾插, prependNode:头插, editNode:编辑节点,
                  removeNode:删除节点)



                  - action_mode 必填

                  - 创建场景下不支持同级头插 prependNode

                  - 删除节点不会删除关联文档

                  - 删除节点时: action_mode=sibling (删除当前节点), action_mode=child
                  (删除当前节点及子节点)

              action_mode:
                type: string
                enum:
                  - sibling
                  - child
                description: |-
                  操作模式
                  (sibling:同级, child:子级)
              target_uuid:
                type: string
                description: |-
                  目标节点 UUID, 不填默认为根节点


                  - 获取方式: 调用"获取知识库目录"接口获取
              node_uuid:
                type: string
                description: |-
                  操作节点 UUID [移动/更新/删除必填]


                  - 获取方式: 调用"获取知识库目录"接口获取
              doc_id:
                type: integer
                description: 文档 ID [创建文档必填]
                deprecated: true
              doc_ids:
                type: array
                items:
                  type: integer
                description: 文档 ID 数组 [创建文档必填]
              type:
                type: string
                enum:
                  - DOC
                  - LINK
                  - TITLE
                default: DOC
                description: |-
                  节点类型 [创建必填]
                  (DOC:文档, LINK:外链, TITLE:分组)
              title:
                type: string
                description: 节点名称 [创建分组/外链必填]
              url:
                type: string
                description: 节点 URL [创建外链必填]
              open_window:
                type: string
                enum:
                  - 0
                  - 1
                default: 0
                description: |-
                  是否新窗口打开 [外链选填]
                  (0:当前页打开, 1:新窗口打开)
              visible:
                type: string
                enum:
                  - 0
                  - 1
                default: 1
                description: |-
                  是否可见
                  (0:不可见, 1:可见)
            required:
              - action
    ApiV2RepoCreateByGroupPost:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 名称
              slug:
                type: string
                description: 路径
              description:
                type: string
                description: 简介
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
              enhancedPrivacy:
                type: boolean
                description: |-
                  增强私密性
                  - 将除团队管理员之外的团队成员、团队只读成员也设置为无权限
            required:
              - name
              - slug
    ApiV2RepoCreatePost:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 名称
              slug:
                type: string
                description: 路径
              description:
                type: string
                description: 简介
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
              enhancedPrivacy:
                type: boolean
                description: |-
                  增强私密性
                  - 将除团队管理员之外的团队成员、团队只读成员也设置为无权限
            required:
              - name
              - slug
    ApiV2RepoUpdateByIdPut:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 名称
              slug:
                type: string
                description: 路径
              description:
                type: string
                description: 简介
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
    ApiV2RepoUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: 名称
              slug:
                type: string
                description: 路径
              description:
                type: string
                description: 简介
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |-
                  公开性
                  (0:私密, 1:公开, 2:企业内公开)
  schemas:
    V2User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            用户 ID
        type:
          type: string
          description: |-

            类型
            Always 'User'
          deprecated: true
        login:
          type: string
          description: |-

            登录名
        name:
          type: string
          description: |-

            昵称
        avatar_url:
          type: string
          description: |-

            头像
        books_count:
          type: integer
          description: |-

            知识库数量
        public_books_count:
          type: integer
          description: |-

            公开的知识库数量
        followers_count:
          type: integer
          description: |-

            被关注的人数
        following_count:
          type: integer
          description: |-

            关注的人数
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        description:
          type: string
          description: |-

            介绍
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
    V2SearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            ID
        type:
          type: string
          enum:
            - doc
            - repo
          description: |-

            类型
            (doc:文档, repo:知识库)
        title:
          type: string
          description: |-

            标题
            `<em></em>` 高亮关键词
        summary:
          type: string
          description: |-

            摘要
            `<em></em>` 高亮关键词
        url:
          type: string
          description: |-

            访问路径
        info:
          type: string
          description: |-

            归属信息
        target:
          oneOf:
            - $ref: '#/components/schemas/V2Doc'
            - $ref: '#/components/schemas/V2Book'
    V2Doc:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            文档 ID
        type:
          type: string
          enum:
            - Doc
            - Sheet
            - Thread
            - Board
            - Table
          description: |-

            文档类型
            (Doc:普通文档, Sheet:表格, Thread:话题, Board:图集, Table:数据表)
        slug:
          type: string
          description: |-

            路径
        title:
          type: string
          description: |-

            标题
        description:
          type: string
          description: |-

            摘要
        cover:
          type: string
          description: |-

            封面
        user_id:
          type: integer
          format: int64
          description: |-

            归属用户/团队 ID
        book_id:
          type: integer
          format: int64
          description: |-

            归属知识库 ID
        last_editor_id:
          type: integer
          format: int64
          description: |-

            最后编辑者 ID
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        status:
          type: string
          description: |-

            状态
            (0:草稿, 1:发布)
        likes_count:
          type: integer
          description: |-

            点赞数
        read_count:
          type: integer
          description: |+

            阅读数


            - 需要传入 `optional_properties=hits` 获取

        hits:
          type: integer
          description: |+

            阅读数


            - 需要传入 `optional_properties=hits` 获取

          deprecated: true
        comments_count:
          type: integer
          description: |-

            评论数
        word_count:
          type: integer
          description: |-

            内容字数
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        content_updated_at:
          type: string
          format: date-time
          description: |-

            内容更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        published_at:
          type: string
          format: date-time
          description: |-

            发布时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        first_published_at:
          type: string
          format: date-time
          description: |-

            首次发布时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        book:
          $ref: '#/components/schemas/V2Book'
        user:
          $ref: '#/components/schemas/V2User'
        last_editor:
          $ref: '#/components/schemas/V2User'
        latest_version_id:
          type: integer
          format: int64
          description: |+

            最新已发版本 ID


            - 需要传入 `optional_properties=latest_version_id` 获取

        tags:
          $ref: '#/components/schemas/V2Tag'
    V2Book:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            知识库 ID
        type:
          type: string
          description: |-

            类型
            (Book:文档, Design:图集, Sheet:表格, Resource:资源)
        slug:
          type: string
          description: |-

            路径
        name:
          type: string
          description: |-

            名称
        user_id:
          type: integer
          format: int64
          description: |-

            归属用户/团队 ID
        description:
          type: string
          description: |-

            简介
        creator_id:
          type: integer
          format: int64
          description: |-

            创建者 ID
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        items_count:
          type: integer
          description: |-

            文档数量
        likes_count:
          type: integer
          description: |-

            点赞数量
        watches_count:
          type: integer
          description: |-

            订阅数量
        content_updated_at:
          type: string
          format: date-time
          description: |-

            知识库 META 更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        user:
          $ref: '#/components/schemas/V2User'
        namespace:
          type: string
          description: |-

            完整路径
    V2Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            TAG ID
        title:
          type: string
          description: |-

            TAG NAME
        doc_id:
          type: integer
          format: int64
          description: |-

            文档 ID
        book_id:
          type: integer
          format: int64
          description: |-

            知识库 ID
        user_id:
          type: integer
          format: int64
          description: |-

            创建者 ID
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
    V2Group:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            团队 ID
        type:
          type: string
          description: |-

            类型
            Always 'Group'
          deprecated: true
        login:
          type: string
          description: |-

            路径
        name:
          type: string
          description: |-

            名称
        avatar_url:
          type: string
          description: |-

            头像
        books_count:
          type: integer
          description: |-

            知识库数量
        public_books_count:
          type: integer
          description: |-

            公开的知识库数量
        members_count:
          type: integer
          description: |-

            成员人数
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        description:
          type: string
          description: |-

            介绍
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
    V2GroupUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            ID
        group_id:
          type: integer
          format: int64
          description: |-

            团队 ID
        user_id:
          type: integer
          format: int64
          description: |-

            成员 ID
        role:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            成员角色
            (0:管理员, 1:成员, 2:只读成员)
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        group:
          $ref: '#/components/schemas/V2Group'
        user:
          $ref: '#/components/schemas/V2User'
    V2DocDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            文档 ID
        type:
          type: string
          enum:
            - Doc
            - Sheet
            - Thread
            - Board
            - Table
          description: |-

            文档类型
            (Doc:普通文档, Sheet:表格, Thread:话题, Board:图集, Table:数据表)
        slug:
          type: string
          description: |-

            路径
        title:
          type: string
          description: |-

            标题
        description:
          type: string
          description: |-

            摘要
        cover:
          type: string
          description: |-

            封面
        user_id:
          type: integer
          format: int64
          description: |-

            归属用户/团队 ID
        book_id:
          type: integer
          format: int64
          description: |-

            归属知识库 ID
        last_editor_id:
          type: integer
          format: int64
          description: |-

            最后编辑者 ID
        format:
          type: string
          enum:
            - markdown
            - lake
            - html
            - lakesheet
          description: >-

            内容格式

            (markdown:Markdown 格式, lake:语雀 Lake 格式, html:HTML 标准格式,
            lakesheet:语雀表格)
        body_draft:
          type: string
          description: |-

            正文草稿内容
        body:
          type: string
          description: |-

            正文原始内容
        body_sheet:
          type: string
          description: |+

            表格正文内容


            语雀表格 (lakesheet) 正文格式示例, JSON 反序列化后的结构:
            (注意: 所有项的值均为字符串, 公式项为计算后的值, 日期格式: yyyy-mm-dd HH:MM:SS)


            ```json
            {
              "version": "1.0",
              "data": [
                {
                  "name": "Sheet1",
                  "index": 0,
                  "rowCount": 100,
                  "colCount": 4,
                  "table": [
                    ["参数名", "类型", "必填", "默认值"],
                    ["name", "string", "1", ""],
                    ["flag", "boolean", "0", "false"]
                  ]
                },
                {
                  "name": "Sheet2",
                  "index": 0,
                  "rowCount": 100,
                  "colCount": 8,
                  "table": []
                }
              ]
            }
            ```

        body_html:
          type: string
          description: |-

            正文 HTML 标准格式内容
        body_lake:
          type: string
          description: |-

            正文语雀 Lake 格式内容
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        status:
          type: string
          description: |-

            状态
            (0:草稿, 1:发布)
        likes_count:
          type: integer
          description: |-

            点赞数
        read_count:
          type: integer
          description: |+

            阅读数

        hits:
          type: integer
          description: |+

            阅读数

          deprecated: true
        comments_count:
          type: integer
          description: |-

            评论数
        word_count:
          type: integer
          description: |-

            内容字数
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        content_updated_at:
          type: string
          format: date-time
          description: |-

            内容更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        published_at:
          type: string
          format: date-time
          description: |-

            发布时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        first_published_at:
          type: string
          format: date-time
          description: |-

            首次发布时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        book:
          $ref: '#/components/schemas/V2Book'
        user:
          $ref: '#/components/schemas/V2User'
        creator:
          $ref: '#/components/schemas/V2User'
        tags:
          $ref: '#/components/schemas/V2Tag'
        latest_version_id:
          type: integer
          format: int64
          description: |+

            最新已发版本 ID

    V2DocVersion:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            版本 ID
        doc_id:
          type: integer
          format: int64
          description: |-

            文档 ID
        slug:
          type: string
          description: |-

            文档路径
        title:
          type: string
          description: |-

            文档标题
        user_id:
          type: integer
          format: int64
          description: |-

            发版人 ID
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        user:
          $ref: '#/components/schemas/V2User'
    V2DocVersionDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            版本 ID
        doc_id:
          type: integer
          format: int64
          description: |-

            文档 ID
        slug:
          type: string
          description: |-

            文档路径
        title:
          type: string
          description: |-

            文档标题
        user_id:
          type: integer
          format: int64
          description: |-

            发版人 ID
        format:
          type: string
          enum:
            - markdown
            - lake
            - html
            - lakesheet
          description: >-

            内容格式

            (markdown:Markdown 格式, lake:语雀 Lake 格式, html:HTML 标准格式,
            lakesheet:语雀表格)
        body:
          type: string
          description: |-

            正文原始内容
        body_html:
          type: string
          description: |-

            正文 HTML 标准格式内容
        body_asl:
          type: string
          description: |-

            正文语雀 Lake 格式内容
        diff:
          type: string
          description: |-

            版本 DIFF
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        user:
          $ref: '#/components/schemas/V2User'
    V2TocItem:
      type: object
      properties:
        uuid:
          type: string
          description: |-

            节点唯一 ID
        type:
          type: string
          enum:
            - DOC
            - LINK
            - TITLE
          description: |-

            节点类型
            (DOC:文档, LINK:外链, TITLE:分组)
        title:
          type: string
          description: |-

            节点名称
        url:
          type: string
          description: |-

            节点 URL
        slug:
          type: string
          description: |-

            节点 URL
          deprecated: true
        id:
          type: integer
          format: int64
          description: |-

            文档 ID
          deprecated: true
        doc_id:
          type: integer
          format: int64
          description: |-

            文档 ID
        level:
          type: integer
          description: |-

            节点层级
        depth:
          type: integer
          description: |-

            节点层级
          deprecated: true
        open_window:
          type: integer
          enum:
            - 0
            - 1
          description: |-

            是否在新窗口打开
            (0:当前页打开, 1:新窗口打开)
        visible:
          type: integer
          enum:
            - 0
            - 1
          description: |-

            是否可见
            (0:不可见, 1:可见)
        prev_uuid:
          type: string
          description: |-

            同级前一个节点 uuid
        sibling_uuid:
          type: string
          description: |-

            同级后一个节点 uuid
        child_uuid:
          type: string
          description: |-

            子级第一个节点 uuid
        parent_uuid:
          type: string
          description: |-

            父级节点 uuid
    V2BookDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |-

            知识库 ID
        type:
          type: string
          description: |-

            类型
            (Book:文档, Design:图集, Sheet:表格, Resource:资源)
        slug:
          type: string
          description: |-

            路径
        name:
          type: string
          description: |-

            名称
        user_id:
          type: integer
          format: int64
          description: |-

            归属用户/团队 ID
        description:
          type: string
          description: |-

            简介
        toc_yml:
          type: string
          description: |-

            目录
        creator_id:
          type: integer
          format: int64
          description: |-

            创建者 ID
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |-

            公开性
            (0:私密, 1:公开, 2:企业内公开)
        items_count:
          type: integer
          description: |-

            文档数量
        likes_count:
          type: integer
          description: |-

            点赞数量
        watches_count:
          type: integer
          description: |-

            订阅数量
        content_updated_at:
          type: string
          format: date-time
          description: |-

            知识库 META 更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        created_at:
          type: string
          format: date-time
          description: |-

            创建时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        updated_at:
          type: string
          format: date-time
          description: |-

            更新时间
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)
        user:
          $ref: '#/components/schemas/V2User'
        namespace:
          type: string
          description: |-

            完整路径
    V2GroupStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        user_id:
          type: string
          description: 统计日期 (YYYYMMDD)
        organization_id:
          type: string
          description: 团队 ID
        member_count:
          type: string
          description: 归属空间 ID
        collaborator_count:
          type: string
          description: 成员数
        day_read_count:
          type: string
          description: 协作者数
        day_write_count:
          type: string
          description: 当日阅读量
        write_count:
          type: string
          description: 当日编辑次数
        read_count:
          type: string
          description: 编辑次数
        read_count_30:
          type: string
          description: 阅读量
        read_count_365:
          type: string
          description: 阅读量 (30天)
        comment_count:
          type: string
          description: 阅读量 (一年)
        comment_count_30:
          type: string
          description: 评论量
        comment_count_365:
          type: string
          description: 评论量 (30天)
        like_count:
          type: string
          description: 评论量 (一年)
        like_count_30:
          type: string
          description: 点赞量
        like_count_365:
          type: string
          description: 点赞量 (30天)
        follow_count:
          type: string
          description: 点赞量 (一年)
        collect_count:
          type: string
          description: 关注量
        doc_count:
          type: string
          description: 收藏量
        sheet_count:
          type: string
          description: 文档数量
        board_count:
          type: string
          description: 表格数量
        show_count:
          type: string
          description: 画板数量
        resource_count:
          type: string
          description: 演示文稿数量
        artboard_count:
          type: string
          description: 资源数量
        attachment_count:
          type: string
          description: 图集数量
        book_count:
          type: string
          description: 附件数量
        public_book_count:
          type: string
          description: 知识库总数量
        private_book_count:
          type: string
          description: 公开知识库数量
        book_book_count:
          type: string
          description: 私密知识库数量
        book_resource_count:
          type: string
          description: 文档知识库数量
        book_design_count:
          type: string
          description: 资源知识库数量
        book_thread_count:
          type: string
          description: 图片知识库数量
        data_usage:
          type: string
          description: 话题知识库数量
        grains_count:
          type: string
          description: 流量使用量
        grains_count_sum:
          type: string
          description: 当前稻谷数
        grains_count_consume:
          type: string
          description: 累计获得稻谷数
        interaction_people_count:
          type: string
          description: 已消耗稻谷数
        content_count:
          type: string
          description: 知识交流人数
        collaboration_count:
          type: string
          description: 知识财富数
        working_hours:
          type: string
          description: 知识协同次数
        baike:
          type: string
          description: 协同提效时长 (小时)
        table_count:
          type: string
          description: 百科全书卷数
    V2MemberStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        user_id:
          type: string
          description: 统计日期 (YYYYMMDD)
        group_id:
          type: string
          description: 成员 ID
        organization_id:
          type: string
          description: 团队 ID
        write_count:
          type: string
          description: 空间 ID
        write_count_30:
          type: string
          description: 编辑次数
        write_count_365:
          type: string
          description: 编辑次数 (30天)
        write_doc_count:
          type: string
          description: 编辑次数 (一年)
        write_doc_count_30:
          type: string
          description: 编辑文档数
        write_doc_count_365:
          type: string
          description: 编辑文档数 (30天)
        read_count:
          type: string
          description: 编辑文档数 (一年)
        read_count_30:
          type: string
          description: 阅读量
        read_count_365:
          type: string
          description: 阅读量 (30天)
        like_count:
          type: string
          description: 阅读量 (一年)
        like_count_30:
          type: string
          description: 点赞量
        like_count_365:
          type: string
          description: 点赞量 (30天)
        user:
          type: string
          description: 点赞量 (一年)
    V2BookStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        book_id:
          type: string
          description: 统计日期 (YYYYMMDD)
        slug:
          type: string
          description: 知识库 ID
        name:
          type: string
          description: 知识库 slug
        type:
          type: string
          description: 知识库名称
        is_public:
          type: string
          description: 知识库类型
        content_updated_at_ms:
          type: string
          description: 是否公开
        user_id:
          type: string
          description: 最近更新时间
        organization_id:
          type: string
          description: 知识库归属 ID
        day_read_count:
          type: string
          description: 知识库归属空间 ID
        day_write_count:
          type: string
          description: 当日阅读量
        day_like_count:
          type: string
          description: 当日编辑次数
        post_count:
          type: string
          description: 当日点赞量
        word_count:
          type: string
          description: 文档数
        write_count:
          type: string
          description: 字数
        write_count_30:
          type: string
          description: 编辑次数
        read_count:
          type: string
          description: 编辑次数 (30天)
        read_count_30:
          type: string
          description: 阅读量
        read_count_365:
          type: string
          description: 阅读量 (30天)
        like_count:
          type: string
          description: 阅读量 (一年)
        like_count_7:
          type: string
          description: 点赞量
        like_count_30:
          type: string
          description: 点赞量 (7天)
        like_count_365:
          type: string
          description: 点赞量 (30天)
        watch_count:
          type: string
          description: 点赞量 (一年)
        watch_count_7:
          type: string
          description: 关注量
        watch_count_30:
          type: string
          description: 关注量 (7天)
        watch_count_365:
          type: string
          description: 关注量 (30天)
        comment_count:
          type: string
          description: 关注量 (一年)
        comment_count_30:
          type: string
          description: 评论量
        comment_count_365:
          type: string
          description: 评论量 (30天)
        like_rank_rate:
          type: string
          description: 评论量 (一年)
        popularity_30:
          type: string
          description: 知识库点赞数排名
        doc_count:
          type: string
          description: 30 天热度
        sheet_count:
          type: string
          description: 文档数量
        board_count:
          type: string
          description: 表格数量
        show_count:
          type: string
          description: 画板数量
        resource_count:
          type: string
          description: 演示文稿数量
        artboard_count:
          type: string
          description: 资源数量
        attachment_count:
          type: string
          description: 图集数量
        interaction_people_count:
          type: string
          description: 附件数量
        content_count:
          type: string
          description: 知识交流人数
        collaboration_count:
          type: string
          description: 知识财富数
        working_hours:
          type: string
          description: 知识协同次数
        baike:
          type: string
          description: 协同提效时长 (小时)
        table_count:
          type: string
          description: 百科全书卷数
    V2DocStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        book_id:
          type: string
          description: 统计日期 (YYYYMMDD)
        doc_id:
          type: string
          description: 知识库 ID
        slug:
          type: string
          description: 文档 ID
        title:
          type: string
          description: 文档 slug
        type:
          type: string
          description: 文档标题
        is_public:
          type: string
          description: 知识库类型
        created_at:
          type: string
          description: 是否公开
        content_updated_at:
          type: string
          description: 创建时间
        user_id:
          type: string
          description: 最近更新时间
        organization_id:
          type: string
          description: 文档归属 ID
        day_read_count:
          type: string
          description: 文档归属空间 ID
        day_write_count:
          type: string
          description: 当日阅读量
        day_like_count:
          type: string
          description: 当日编辑次数
        word_count:
          type: string
          description: 当日点赞量
        write_count:
          type: string
          description: 字数
        read_count:
          type: string
          description: 编辑次数
        read_count_7:
          type: string
          description: 阅读量
        read_count_30:
          type: string
          description: 阅读量 (7天)
        read_count_365:
          type: string
          description: 阅读量 (30天)
        like_count:
          type: string
          description: 阅读量 (一年)
        like_count_7:
          type: string
          description: 点赞量
        like_count_30:
          type: string
          description: 点赞量 (7天)
        like_count_365:
          type: string
          description: 点赞量 (30天)
        comment_count:
          type: string
          description: 点赞量 (一年)
        comment_count_30:
          type: string
          description: 评论量
        comment_count_365:
          type: string
          description: 评论量 (30天)
        popularity_30:
          type: string
          description: 评论量 (一年)
        attachment_count:
          type: string
          description: 30 天热度
        user:
          type: string
          description: 附件数量
security:
  - authToken: []
paths:
  /api/v2/hello:
    get:
      tags:
        - user
      summary: 心跳
      operationId: user_api_v2_hello
      description: |-
        心跳
        GET /api/v2/hello
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: 欢迎消息
        '400': &ref_0
          $ref: '#/components/responses/400'
        '401': &ref_1
          $ref: '#/components/responses/401'
        '403': &ref_2
          $ref: '#/components/responses/403'
        '404': &ref_3
          $ref: '#/components/responses/404'
        '422': &ref_4
          $ref: '#/components/responses/422'
        '429': &ref_5
          $ref: '#/components/responses/429'
        '500': &ref_6
          $ref: '#/components/responses/500'
  /api/v2/user:
    get:
      tags:
        - user
      summary: 获取当前 Token 的用户详情
      operationId: user_api_v2_user_info
      description: |+
        获取当前 Token 的用户详情
        GET /api/v2/user

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2User'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/search:
    get:
      tags:
        - search
      summary: 通用搜索
      operationId: search_api_v2_search
      description: |+
        通用搜索
        GET /api/v2/search


        - 支持分页, PageSize 固定为 20

      parameters:
        - name: q
          in: query
          description: 搜索关键词
          required: true
          deprecated: false
          schema:
            type: string
            maxLength: 200
        - name: type
          in: query
          description: |-
            搜索类型
            (doc:文档, repo:知识库)
          required: true
          deprecated: false
          schema:
            type: string
            enum:
              - doc
              - repo
        - name: scope
          in: query
          description: |-
            搜索范围, 不填默认为搜索当前用户/团队


            [例子]
            ```
            - 假设:
              - 团队 URL = https://yuque_domain/group_a
              - 知识库 URL = https://yuque_domain/group_a/book_x
            - 则:
              - 搜索团队里的文档: { type: 'doc', scope: 'group_a' }
              - 搜索团队里的知识库: { type: 'repo', scope: 'group_a' }
              - 搜索知识库里的文档: { type: 'doc', scope: 'group_a/book_x' }
            ```
          required: false
          deprecated: false
          schema:
            type: string
            maxLength: 400
        - name: page
          in: query
          description: 页码 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: 页码, 非偏移量 [分页参数]
          required: false
          deprecated: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: strict
          in: query
          description: 关键词精确匹配, 不分词
          required: false
          deprecated: false
          schema:
            type: boolean
        - name: related
          in: query
          description: 仅搜索与我相关 [筛选条件]
          required: false
          deprecated: false
          schema:
            type: boolean
        - name: creatorId
          in: query
          description: 仅搜索指定作者 ID [筛选条件]
          required: false
          deprecated: true
          schema:
            type: integer
        - name: creator
          in: query
          description: 仅搜索指定作者 login [筛选条件]
          required: false
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 结果总量
                      pageNo:
                        type: integer
                        description: 页码
                      pageSize:
                        type: integer
                        description: 每页数量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2SearchResult'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/users/{id}/groups:
    get:
      tags:
        - group
      summary: 获取用户的团队
      operationId: group_api_v2_user_group_list
      description: |+
        获取用户的团队
        GET /api/v2/users/:id/groups


        - 支持分页, PageSize 固定为 100

      parameters:
        - name: id
          in: path
          description: 用户 login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: role
          in: query
          description: |-
            角色 [过滤条件]
            (0:管理员, 1:成员)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 1
        - name: offset
          in: query
          description: 偏移量 [分页条件]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Group'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/users:
    get:
      tags:
        - group
      summary: 获取团队的成员
      operationId: group_api_v2_group_member_list
      description: |+
        获取团队的成员
        GET /api/v2/groups/:login/users


        - 支持分页, PageSize 固定为 100

      parameters:
        - name: login
          in: path
          description: 团队 Login or ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: role
          in: query
          description: |-
            角色 [筛选条件]
            (0:管理员, 1:成员, 2:只读成员)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 1
              - 2
        - name: offset
          in: query
          description: 偏移量 [分页条件]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2GroupUser'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/users/{id}:
    put:
      tags:
        - group
      summary: 变更成员
      operationId: group_api_v2_group_member_update
      description: |+
        变更成员
        PUT /api/v2/groups/:login/users/:id

      parameters:
        - name: login
          in: path
          description: 团队 Login or ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: 用户 Login or ID
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2GroupMemberUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2GroupUser'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - group
      summary: 删除成员
      operationId: group_api_v2_group_member_destroy
      description: |-
        删除成员
        DELETE /api/v2/groups/:login/users/:id
      parameters:
        - name: login
          in: path
          description: 团队 Login or ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: 用户 Login or ID
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: 删除用户 ID
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/docs:
    get:
      tags:
        - doc
      summary: 获取知识库文档列表
      operationId: doc_api_v2_doc_list-by_id
      description: |+
        获取知识库文档列表
        GET /api/v2/repos/:book_id/docs
        GET /api/v2/repos/:group_login/:book_slug/docs

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
        - name: offset
          in: query
          description: 偏移量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 每页数量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: optional_properties
          in: query
          description: |+
            获取的额外字段, 多个字段以逗号分隔


            - 注意: 每页数量超过 100 本字段会失效


            - 支持的字段有:
              - hits: 文档阅读数
              - tags: 标签
              - latest_version_id: 最新已发版本 ID

          required: false
          deprecated: false
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 结果总量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Doc'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - doc
      summary: 创建文档
      operationId: doc_api_v2_doc_create-by_id
      description: |+
        创建文档
        POST /api/v2/repos/:book_id/docs
        POST /api/v2/repos/:group_login/:book_slug/docs


        - 注意: 创建文档后不会自动添加到目录，需要调用"知识库目录更新接口"更新到目录中

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocCreateByIdPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/docs/{id}:
    get:
      tags:
        - doc
      summary: 获取文档详情
      operationId: doc_api_v2_doc_show-by_id
      description: |+
        获取文档详情
        GET /api/v2/repos/:book_id/docs/:id
        GET /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新文档
      operationId: doc_api_v2_doc_update-by_id
      description: |+
        更新文档
        PUT /api/v2/repos/:book_id/docs/:id
        PUT /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocUpdateByIdPut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - doc
      summary: 删除文档
      operationId: doc_api_v2_doc_destroy-by_id
      description: |+
        删除文档
        DELETE /api/v2/repos/:book_id/docs/:id
        DELETE /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/docs:
    get:
      tags:
        - doc
      summary: 获取知识库文档列表
      operationId: doc_api_v2_doc_list
      description: |+
        获取知识库文档列表
        GET /api/v2/repos/:book_id/docs
        GET /api/v2/repos/:group_login/:book_slug/docs

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: 偏移量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 每页数量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: optional_properties
          in: query
          description: |+
            获取的额外字段, 多个字段以逗号分隔


            - 注意: 每页数量超过 100 本字段会失效


            - 支持的字段有:
              - hits: 文档阅读数
              - tags: 标签
              - latest_version_id: 最新已发版本 ID

          required: false
          deprecated: false
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: 结果总量
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Doc'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - doc
      summary: 创建文档
      operationId: doc_api_v2_doc_create
      description: |+
        创建文档
        POST /api/v2/repos/:book_id/docs
        POST /api/v2/repos/:group_login/:book_slug/docs


        - 注意: 创建文档后不会自动添加到目录，需要调用"知识库目录更新接口"更新到目录中

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/docs/{id}:
    get:
      tags:
        - doc
      summary: 获取文档详情
      operationId: doc_api_v2_doc_show
      description: |+
        获取文档详情
        GET /api/v2/repos/:book_id/docs/:id
        GET /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新文档
      operationId: doc_api_v2_doc_update
      description: |+
        更新文档
        PUT /api/v2/repos/:book_id/docs/:id
        PUT /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - doc
      summary: 删除文档
      operationId: doc_api_v2_doc_destroy
      description: |+
        删除文档
        DELETE /api/v2/repos/:book_id/docs/:id
        DELETE /api/v2/repos/:group_login/:book_slug/docs/:id

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: 文档 ID or 路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/doc_versions:
    get:
      tags:
        - doc
      summary: 获取文档历史版本列表
      operationId: doc_api_v2_doc_version_list
      description: |+
        获取文档历史版本列表
        GET /api/v2/doc_versions


        - 按时间倒序返回最近 100 个已发布版本

      parameters:
        - name: doc_id
          in: query
          description: 文档 ID
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2DocVersion'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/doc_versions/{id}:
    get:
      tags:
        - doc
      summary: 获取文档历史版本详情
      operationId: doc_api_v2_doc_version_show
      description: |+
        获取文档历史版本详情
        GET /api/v2/doc_versions/:id

      parameters:
        - name: id
          in: path
          description: 版本 ID
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocVersionDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/toc:
    get:
      tags:
        - doc
      summary: 获取目录
      operationId: doc_api_v2_repo_toc_show-by_id
      description: |+
        获取目录
        GET /api/v2/repos/:book_id/toc
        GET /api/v2/repos/:group_login/:book_slug/toc

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新目录
      operationId: doc_api_v2_repo_toc_update-by_id
      description: |+
        更新目录
        PUT /api/v2/repos/:book_id/toc
        PUT /api/v2/repos/:group_login/:book_slug/toc


        字段说明:


        - 所有场景
          - 必填字段
            - action
            - action_mode
          - 选填字段
            - target_uuid
            - visible
        - 创建场景
          - 必填字段
            - 创建文档节点
              - type
              - doc_ids
            - 创建分组节点
              - type
              - title
            - 创建外链节点
              - type
              - title
              - url
              - open_window
        - 移动场景
          - 必填字段
            - target_uuid
            - node_uuid
        - 编辑场景
          - 必填字段
            - node_uuid
          - 选填字段
            - type
            - title
            - url
            - open_window
        - 删除场景
          - 必填字段
            - node_uuid

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoTocUpdateByIdPut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/toc:
    get:
      tags:
        - doc
      summary: 获取目录
      operationId: doc_api_v2_repo_toc_show
      description: |+
        获取目录
        GET /api/v2/repos/:book_id/toc
        GET /api/v2/repos/:group_login/:book_slug/toc

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新目录
      operationId: doc_api_v2_repo_toc_update
      description: |+
        更新目录
        PUT /api/v2/repos/:book_id/toc
        PUT /api/v2/repos/:group_login/:book_slug/toc


        字段说明:


        - 所有场景
          - 必填字段
            - action
            - action_mode
          - 选填字段
            - target_uuid
            - visible
        - 创建场景
          - 必填字段
            - 创建文档节点
              - type
              - doc_ids
            - 创建分组节点
              - type
              - title
            - 创建外链节点
              - type
              - title
              - url
              - open_window
        - 移动场景
          - 必填字段
            - target_uuid
            - node_uuid
        - 编辑场景
          - 必填字段
            - node_uuid
          - 选填字段
            - type
            - title
            - url
            - open_window
        - 删除场景
          - 必填字段
            - node_uuid

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoTocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/repos:
    get:
      tags:
        - repo
      summary: 获取知识库列表
      operationId: repo_api_v2_repo_list-by_group
      description: |+
        获取知识库列表
        GET /api/v2/groups/:id/repos
        GET /api/v2/groups/:login/repos


        GET /api/v2/users/:id/repos
        GET /api/v2/users/:login/repos

      parameters:
        - name: login
          in: path
          description: 用户/团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: 偏移量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 每页数量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: type
          in: query
          description: |-
            类型 [筛选条件]
            (Book:文档型知识库, Design: 画板型知识库)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - Book
              - Design
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - repo
      summary: 创建知识库
      operationId: repo_api_v2_repo_create-by_group
      description: |+
        创建知识库
        POST /api/v2/groups/:id/repos
        POST /api/v2/groups/:login/repos


        POST /api/v2/users/:id/repos
        POST /api/v2/users/:login/repos

      parameters:
        - name: login
          in: path
          description: 用户/团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoCreateByGroupPost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/users/{login}/repos:
    get:
      tags:
        - repo
      summary: 获取知识库列表
      operationId: repo_api_v2_repo_list
      description: |+
        获取知识库列表
        GET /api/v2/groups/:id/repos
        GET /api/v2/groups/:login/repos


        GET /api/v2/users/:id/repos
        GET /api/v2/users/:login/repos

      parameters:
        - name: login
          in: path
          description: 用户/团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: 偏移量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 每页数量 [分页参数]
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: type
          in: query
          description: |-
            类型 [筛选条件]
            (Book:文档型知识库, Design: 画板型知识库)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - Book
              - Design
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - repo
      summary: 创建知识库
      operationId: repo_api_v2_repo_create
      description: |+
        创建知识库
        POST /api/v2/groups/:id/repos
        POST /api/v2/groups/:login/repos


        POST /api/v2/users/:id/repos
        POST /api/v2/users/:login/repos

      parameters:
        - name: login
          in: path
          description: 用户/团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}:
    get:
      tags:
        - repo
      summary: 获取知识库详情
      operationId: repo_api_v2_repo_show-by_id
      description: |+
        获取知识库详情
        GET /api/v2/repos/:book_id
        GET /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2BookDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - repo
      summary: 更新知识库
      operationId: repo_api_v2_repo_update-by_id
      description: |+
        更新知识库
        PUT /api/v2/repos/:book_id
        PUT /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoUpdateByIdPut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - repo
      summary: 删除知识库
      operationId: repo_api_v2_repo_destroy-by_id
      description: |+
        删除知识库
        DELETE /api/v2/repos/:book_id
        DELETE /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: book_id
          in: path
          description: 知识库 ID
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}:
    get:
      tags:
        - repo
      summary: 获取知识库详情
      operationId: repo_api_v2_repo_show
      description: |+
        获取知识库详情
        GET /api/v2/repos/:book_id
        GET /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2BookDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - repo
      summary: 更新知识库
      operationId: repo_api_v2_repo_update
      description: |+
        更新知识库
        PUT /api/v2/repos/:book_id
        PUT /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - repo
      summary: 删除知识库
      operationId: repo_api_v2_repo_destroy
      description: |+
        删除知识库
        DELETE /api/v2/repos/:book_id
        DELETE /api/v2/repos/:group_login/:book_slug

      parameters:
        - name: group_login
          in: path
          description: 团队 Login
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: 知识库路径
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics:
    get:
      tags:
        - statistic
      summary: 团队.汇总统计数据
      operationId: statistic_api_v2_statistic_all
      description: |+
        团队.汇总统计数据
        GET /api/v2/groups/:login/statistics

      parameters:
        - name: login
          in: path
          description: 团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2GroupStatistics'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/members:
    get:
      tags:
        - statistic
      summary: 团队.成员统计数据
      operationId: statistic_api_v2_statistic_by_members
      description: |-
        团队.成员统计数据
        GET /api/v2/groups/:login/statistics/members
      parameters:
        - name: login
          in: path
          description: 团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: name
          in: query
          description: 成员名 [过滤条件]
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |-
            时间范围 [过滤条件]
            (0:全部, 30:近 30 天, 365:近一年)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: 页码
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: 分页数量
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: 排序字段
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - write_doc_count
              - write_count
              - read_count
              - like_count
        - name: sortOrder
          in: query
          description: 排序方向
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        $ref: '#/components/schemas/V2MemberStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/books:
    get:
      tags:
        - statistic
      summary: 团队.知识库统计数据
      operationId: statistic_api_v2_statistic_by_books
      description: |-
        团队.知识库统计数据
        GET /api/v2/groups/:login/statistics/books
      parameters:
        - name: login
          in: path
          description: 团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: name
          in: query
          description: 知识库名 [过滤条件]
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |-
            时间范围 [过滤条件]
            (0:全部, 30:近 30 天, 365:近一年)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: 页码
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: 分页数量
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: 排序字段
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - content_updated_at_ms
              - word_count
              - post_count
              - read_count
              - like_count
              - watch_count
              - comment_count
        - name: sortOrder
          in: query
          description: 排序方向
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      books:
                        $ref: '#/components/schemas/V2BookStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/docs:
    get:
      tags:
        - statistic
      summary: 团队.文档统计数据
      operationId: statistic_api_v2_statistic_by_docs
      description: |-
        团队.文档统计数据
        GET /api/v2/groups/:login/statistics/docs
      parameters:
        - name: login
          in: path
          description: 团队的 Login 或 ID
          required: true
          deprecated: false
          schema:
            type: string
        - name: bookId
          in: query
          description: 指定知识库 [过滤条件]
          required: false
          deprecated: false
          schema:
            type: integer
        - name: name
          in: query
          description: 文档名 [过滤条件]
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |-
            时间范围 [过滤条件]
            (0:全部, 30:近 30 天, 365:近一年)
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: 页码
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: 分页数量
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: 排序字段
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - content_updated_at
              - word_count
              - read_count
              - like_count
              - comment_count
              - created_at
        - name: sortOrder
          in: query
          description: 排序方向
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      docs:
                        $ref: '#/components/schemas/V2DocStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
tags:
  - name: user
  - name: search
  - name: group
  - name: doc
  - name: repo
  - name: statistic
