@using NewLife.Common;
@using NewLife
@using NewLife.Cube
@using NewLife.Reflection
@using NewLife.Web
@using XCode
@using XCode.Membership
@{
    var set = ViewBag.PageSetting as PageSetting;
}
@if (set.EnableSelect)
{
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("SyncRepo")" data-fields="keys" disabled>
        同步文章列表
    </button>
    <button type="button" class="btn btn-purple btn-sm" data-action="action" data-url="@Url.Action("ScanAll")" >
        扫描知识库
    </button>
}