@using NewLife.Common;
@using NewLife.Cube.WebMiddleware;
@using NewLife.Cube.Charts;
@using NewLife.YuqueWeb
@{
    var set = CubeSetting.Current;
    var sys = SysConfig.Current;

    var title = ViewBag.Title + "";
    if (set.TitlePrefix && title != sys.DisplayName && title != "" && !title.Contains(" - ")) title += " - " + sys.DisplayName;

    var ver = typeof(YuqueService).Assembly.GetName().Version;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="新生命团队,NewLife,魔方,Cube,XCode" />
    <title>@title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/bootstrap/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="/yuque/lake-content-v1.css?v=@ver">
    <link rel="stylesheet" href="/yuque/content-v1.css?v=@ver">
    <link rel="stylesheet" href="/yuque/highlight.default.css?v=@ver">
    <link rel="stylesheet" href="/yuque/highlight.vs.css?v=@ver">

    <!-- 页面内联样式 -->
    @RenderSection("css", required: false)


    <!-- JQuery作为一等公民，页面内部随时可能使用 -->
    <script src="/Content/js/jquery-3.6.0.min.js"></script>
</head>
<body style="padding-top:70px">
    <header>
        @await Html.PartialAsync("_Header_yq")
    </header>

    @RenderBody()

    <footer class="footer">
        @await Html.PartialAsync("_Footer_yq")
    </footer>

    <!-- 最早引入基本脚本 -->
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/yuque/highlight.min.js?v=@ver"></script>
    <script>
        //hljs.highlightAll();
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre').forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>